@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  font-family: 'Roboto', serif;
  font-optical-sizing: auto;
}

html {
  font-size: 12px;
}
@media (min-width: 400px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 600px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 1536px) {
  html {
    font-size: 18px;
  }
}
